html,body {
    background-color: #ddd;
    display: flex;
    height: 100%;
    width: 100%;
}

form {
    margin: auto;
    background-color: #ccc;
    width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 15px 20px;
    border-radius: 4px
}
p {
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    line-height: 1.4;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 14px 20px;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #f45;
    border-radius: 25px;
}

.open {
    background-color: #fff;
}
.on {
    background-color:green;
}